button{
    font-size: 2rem;
    margin: 2rem 40%;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: rgb(191, 230, 229);
    color: rgb(56, 56, 56);
}

button:hover
{
    background-color: rgb(176, 228, 226);   
}

.refresh-btn{
    margin: 2rem 45%;   
}